<!-- <div class="container">
  <div class="top">
    <div class="buttons">
      <input type="image" src="/assets/rock.jpg" class="game-image" data-value="1"/>
      <input type="image" src="/assets/paper.jpg" class="game-image" data-value="2"/>
      <input type="image" src="/assets/scissors.jpg" class="game-image" data-value="3"/>
      <br> -->
      <!-- <br> -->
     <!--  <input type="text" placeholder="Computer Chose" id="compChoice"/> -->
      <!-- <h3 type="text" id="winner">The Winner is:</h3>
    </div><br>
    <div class="score">
      <span class='human_wins'> Human Wins: </span>&nbsp &nbsp
      <span class='comp_wins'> Computer Wins: </span>
    </div>
    <br>
    <div class="score">
      <span class='games_played'> Games Played: </span>
    </div>
  </div>
</div> -->

<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
     <div class="background">
        <div class="inputs text-center">
          <input type="image" src="/assets/rock.jpg" class="game-image" data-value="1"/>
          <input type="image" src="/assets/paper.jpg" class="game-image" data-value="2"/>
          <input type="image" src="/assets/scissors.jpg" class="game-image" data-value="3"/>
        </div>
     </div>
    </div>
    <div>
      <h3 type="text" id="winner">The Winner is:</h3>
    </div>
    <div class="">
      <span class='human_wins'> Human Wins: </span>&nbsp &nbsp
      <span class='comp_wins'> Computer Wins: </span>
    </div>
    <br>
    <div class="">
      <span class='games_played'> Games Played: </span>
    </div>
  </div>
</div>